@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
}

/* styles/Loader.module.css */
.loader-container {
  transition: visibility 1s ease-in-out;
}

.loader {
  animation: spin 2s linear infinite;
}

.rotate-hover {
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: rotate(-6deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
